body{
	background-color: #1C4658;
	color: #022839;
}

.grid-square{
	border-color: black;
	border-width: 1px;
	border-style: solid;
	min-height: 80px;
	vertical-align: middle;
	text-align: center;
	background-color: #6E8189;
}


.checked-player-one{
	color:blue;
}

.checked-player-two{
	color:red;
}

.checked-winning-square{
	background-color: green;
}


@media only screen and (max-width: 480px){  
	.play-image{
		width: 80px;
		height: 80px;
	}
}

/* Medium Devices, Desktops */
@media only screen and (min-width : 480px) {
	.gallery-image{
		width: 120px;
		height: 120px;
	}
}

